<div class="template-detail-container" *ngIf="template">
  <h2>Chi tiết Email Template</h2>
  <div class="detail-row"><strong>ID:</strong> {{template.id}}</div>
  <div class="detail-row"><strong>Tên:</strong> {{template.name}}</div>
  <div class="detail-row"><strong>Mã:</strong> {{template.code}}</div>
  <div class="detail-row"><strong>Trạng thái:</strong> <span [class.active]="template.status" [class.inactive]="!template.status">{{template.status ? 'Bật' : 'Tắt'}}</span></div>
  <div class="detail-row"><strong>Placeholders:</strong> <span *ngIf="template.placeholders">{{template.placeholders}}</span></div>
  <div class="detail-row"><strong>Ngày tạo:</strong> {{template.createdAt | date:'medium'}}</div>
  <div class="detail-row"><strong>Chi tiết gười tạo</strong> <br>
    <div *ngIf="template.createdBy">
      <div><strong>Tài khoản:</strong> {{template.createdBy.username}}</div>
      <div><strong>Email:</strong> {{template.createdBy.email}}</div>
      <div><strong>Họ tên:</strong> {{template.createdBy.fullName}}</div>
      <div><strong>Quyền hạn:</strong> {{ template.createdBy.role.name }}</div>
    </div>
  </div>
  <!-- <div class="detail-row"><strong>Nội dung HTML:</strong></div>
  <div class="detail-content" [innerHTML]="template.content"></div>
  <div class="detail-row" *ngIf="placeholders.length">
    <strong>Nhập giá trị placeholders để xem preview:</strong>
    <div class="placeholders-grid">
      <div class="form-group" *ngFor="let p of placeholders">
        <label [for]="'ph-' + p">{{p}}</label>
        <input [id]="'ph-' + p" [(ngModel)]="variables[p]" (ngModelChange)="renderPreview()" [placeholder]="p" />
      </div>
    </div>
  </div> -->
  <div class="detail-row" *ngIf="template">
    <strong>Nội dung HTML:</strong>
    <div class="detail-content" [innerHTML]="previewHtml"></div>
  </div>
  <button (click)="goBack()" class="back-btn">Quay lại</button>
</div> 